$blue:      #4180f6;
$ping:      #f7c9f3;
$pingTwo:   #997D97;
$white:     #FFFFFF;
$boxShadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;



// $colorPrimario:#1b3d82;
// $colorDos:yellow;
// $colorTres:red;
// $colorCuatro:green;